@font-face{
	font-family: Play_Bold;
	font-display: swap;
	src: url("../fonts/Play_Bold.woff2") format("woff2"), url("../fonts/Play_Bold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Uni_Sans;
	font-display: swap;
	src: url("../fonts/Uni_Sans.woff2") format("woff2"), url("../fonts/Uni_Sans.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
